@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Oswald&family=Poiret+One&family=Roboto:wght@500&family=Sigmar+One&display=swap");

body {
  font-family: "Spline Sans", sans-serif;
  margin: 0;
  padding: 0;
}
